:roo {
  /*_______ Font Family _______*/
  --primary-font-700: "HelveticaNeue 700";
  --primary-font-500: "HelveticaNeue 500";
  --primary-font-400: "Helvetica Neue 400";
  /*________ Font Size ________*/
  --size-3xl: 6.4rem;
  --size-2xl: 4.8rem;
  --size-xl: 2.6rem;
  --size-lg: 2.4rem;
  --size-md: 2rem;
  --size-sm: 1.6rem;
  /*________ Text Color ________*/
  --primary-color: #333333;
  --secondary-color: #767676;
  --third-color: #ffffff;
  --four-color: #0F0E24;
  --five-color: #000000;
  --six-color: #828282;
  --seven-color: #005C96;
  --eight-color: #D52049;
  /*_________ BG Color _________*/
  --primary-bg: #ffffff;
  --secondary-bg: #f8f9fc;
  --footer-bg: #333333;
}

